$header-size: 28px;

body {
  margin: 0;
  overflow: hidden;
}

main {
  height: 100vh;
}

header {
  background-color: lightgray;
  padding: 20px;
  font-family: monospace;
  font-size: 1rem;
  height: $header-size;
  display: grid;
  grid-template-columns: 200px 1fr;
}

.app-name {
  font-size: 1.3rem;
}

form[name="get_weather"] {
  // background-color: red;

  button {
    border-radius: 0;
    border: none;
    background-color: rgb(21,14,61);
    color: white;
    height: 35px;
    padding: 0px 20px;
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
    font-size: 1rem;
  }
}

#location-name {
  padding-left: 35px;
  font-size: 1rem;
  height: 35px;
  // width: ;
  outline: none;
  border: none;
  border-radius: 20px 0px 0px 20px;
}

#location {
  font-size: 2.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fa-location-dot {
  font-size: 1.5rem;
  margin-right: 10px;
}

#location-extended {
  font-size: 1rem;
  font-family: monospace;
  width: 300px;
  margin: 0;
}

#weather-condition {
  font-size: 0.75rem;
  font-weight: bold;
  font-family: monospace;
  margin: 0;
}

.location-icon {
  position: absolute;
  margin-left: 10px;
  color: rgb(125,125,125);
  font-size: 1.3rem;
}

#current-temp {
  font-size: 6rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#current-temp-unit {
  font-size: 2rem;
  margin-top: 10px;
}

#wind-speed, #humidity, #feels-like {
  font-family: monospace;
  font-size: 1rem;
}